@charset "utf-8";
/* CSS Document */
html{overflow-y:auto;overflow-x:hidden;-webkit-text-size-adjust:none;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
*{margin:0;padding:0;list-style:none;}
q:before, q:after {content:'';}
abbr,acronym{border:0;}
body{padding:0;margin:0;font: 12px/1.5 "Microsoft YaHei",微软雅黑,'宋体',tahoma,Verdana,arial,sans-serif;color:#333;background:#f3f3f3;}
input,textarea,select,button{vertical-align:middle;outline:none;font-family:"Microsoft YaHei",微软雅黑;}
textarea{resize:none;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{color:#e22929;text-decoration:none;}
a img {border:none; }
.left,.fl{float:left;}
.right,.fr{float:right;}
/* clear */
.clearfix:after{visibility:hidden;display: block;font-size: 0;content:" ";clear:both;height:0;}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */
.clear,.cc{clear:both;font-size:0px;line-height:0px;height:0px;	margin-top:0px;overflow:hidden;}
h1,h2,h3{font-weight:normal;}
 h1{ font-size:20px;}
 h2{ font-size:18px;}
 h3{ font-size:16px;}

#container{height:100%;}
 
/*****头部****/
.header{width:100%;height:auto;margin:auto;background:#fff;}
.topcon{width:1200px;height:30px;margin:auto;padding-top:10px;overflow:hidden;position:relative;z-index:99;}
.top_l{padding-left:20px;width:300px;height:30px;line-height:30px;overflow:hidden;}
.top_l ul li{float:left;height:30px;white-space:nowrap;}
.top_l ul li a{display:block;float:left;width:auto;white-space:nowrap;padding-left:18px;background:url(../images/top_lico.gif) no-repeat;font-size:12px;color:#666;}
.top_l ul li a:hover{color:#e22929;}
.top_l ul li.num1 a{width:40px;background-position:0 8px;}
.top_l ul li.num2 a{width:52px;background-position:-86px 8px;}
.top_l ul li.num3 a{width:52px;background-position:-193px 8px;padding-left:19px;}
.top_l ul li.num4 a{width:52px;background-position:0 8px;}
.top_r{padding-top:5px;height:24px;line-height:24px;}
.top_r a{display:block;float:left;color:#666;padding-left:28px;background:url(../images/wza_ico.png) 0 0 no-repeat;}
.top_r a:hover{color:#e22929;background-position:0 -24px;-moz-transition:all 0.3s;-o-transition:all 0.3s;-webkit-transition:all 0.3s;transition:all 0.3s;}
.top_r .Wza{width:63px;}
.top_r .mail{width:61px;background-position:-91px 0;}
.top_r .mail:hover{background-position:-91px -24px;}
.top_r .oa{width:62px;background-position:-180px 0;}
.top_r .oa:hover{background-position:-180px -24px;}
.top_r .ht_log{width:63px;background-position:-270px 0;}
.top_r .ht_log:hover{background-position:-270px -24px;}
.sylogin{ width:auto; height:24px; float:left;}
.top_r .member-login{width:38px;background:url(../images/denglubg.png) 0 0 no-repeat;}
.top_r .member-login:hover{background:url(../images/denglubg.png) 0px -24px no-repeat;}
.top_r .member-register{width:38px;background:url(../images/zhucebg.png) 0 0 no-repeat;}
.top_r .member-register:hover{background:url(../images/zhucebg.png) 0px -24px no-repeat;}
.top_r .user-name{background:url(../images/denglubg.png) 0 0 no-repeat; width:auto; float:left; padding-right:13px;}
.top_r .user-name:hover{background:url(../images/denglubg.png) 0px -24px no-repeat;}
.top_r .member-logout{ background:none; padding:0px 10px 0 0px; float:left;}
.top_r .add{width:63px;background:url(../images/addbg.png) 0 0 no-repeat;}
.top_r .add:hover{background:url(../images/addbg.png) 0px -24px no-repeat;}
.top_r .jft{display:block;float:left;width:86px;height:24px;background:url(../images/jft_bg.png) 0 2px no-repeat;padding-left:1px;}
.top_r .jft a{width:35px;height:24px;text-align:center;padding:0;background:none;}
.top_r .jft a:hover{color:#e22929;}
.top_r .jft a.active{color:#fff;background:url(../images/zt_btn.png) 0 3px no-repeat;}
.banner{width:1200px;height:140px;margin:auto;position:relative;z-index:1;background:url(../images/logo_bg.jpg) center no-repeat;}
.banner .img_title{display:none;}
.banner ul li.num1 a{cursor:default;}
.flash{position:absolute;width:1200px;height:180px;overflow:hidden;left:0;top:-40px;z-index:2;}
.flash ul li{float:left;width:1200px;height:180px;overflow:hidden;}
.flash .img_title{display:none;}
.flash ul li a{cursor:default;}
.flash ul li a img{width:1200px;height:180px;}
.flash .num{display:none;}
.banner .mF_ladyQ .txt{display:none !important;}
.banner .mF_ladyQ .txt li{display:none !important;}
.logo{width:710px;height:76px;position:absolute;left:20px;top:18px;overflow:hidden;z-index:3;}
.logo .img_title{display:none;}
.logo ul li.num1 a{cursor:default;}
.seccon{width:355px;height:68px;position:absolute;right:0;top:32px;z-index:4;}
.searchbox{height:36px;}
.searchbox ul li{float:left;}
.searchbox ul li.se_box{width:279px;height:35px;position:relative;}
.searchbox ul li.se_box .msg-box{left:0;top:0;position:absolute;}
.searchbox ul li.se_box input{float:left;width:258px;height:28px;background:#fafafa;border:#ddd 1px solid;border-right:0;padding:3px 10px 2px 10px;line-height:28px;font-size:12px;color:#999;outline:none;}
input.srkcss:focus{
    outline: none;
    border-color:#9ecaed !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
   transition: border linear .2s, box-shadow linear .2s;
}
.searchbox li.sea_an{width:60px;}
.searchbox li.sea_an input{float:left;width:60px;height:35px;background:url(../images/sec_btn.gif) 0 0 no-repeat;border:none;overflow:hidden;cursor:pointer;outline:none;text-indent:-99999em;font-size:0;}
.searchbox li.gg{width:86px;height:36px;line-height:36px;text-align:center;overflow:hidden;}
.searchbox li.gg a{font-size:14px;text-decoration:underline;}
.reci_box{height:32px;line-height:32px;overflow:hidden;}
.reci_box .tit{display:block;float:left;width:auto;white-space:nowrap;color:#666;}
.reci_box ul{float:left;height:32px;display:inline;}
.reci_box ul li{float:left;padding-left:12px;}
.reci_box ul li a{display:block;float:left;width:auto;white-space:nowrap;}

.menucon{width:100%;background:#e22929;}
.menubox{width:1200px;height:40px;margin:auto;background:#e22929;position:relative;z-index:999;}
.menubox dd{float:left;height:40px;}
.menubox dd .mu{width:200px;height:40px;}
.menubox dd .mu a{display:block;width:100%;height:40px;line-height:40px;font-size:18px;font-weight:bold;color:#fff;text-align:center;cursor:pointer;}
.menubox dd .mu a img{vertical-align:middle;margin-right:10px;cursor:pointer;}
.menubox dd .mu a:hover,.menubox dd .mu.on a{color:#fff;background:#b52121;}
.indmenucont{position:absolute;width:1160px;height:458px;border:1px solid #e22929;border-top:0;background:#fff;z-index:1100;left:0px;top:40px;padding:0 19px 19px;display:none;}
.dpnone{display:none !important;}

/***** 主题内容 ******/
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.ind_body{width:100%;height:auto;min-width:1200px;}
.ind_container{width:1160px;height:auto;margin:auto;padding:20px;background:#fff;}
.ind_mainer{width:1160px;}

/***底部-版权信息***/
.bottom{width:100%;border-top:#e22929 3px solid;background:#ddd;height:auto;}
.footer{width:1200px;margin:auto;height:146px;line-height:24px;padding-top:14px;position:relative;font-size:14px;}
.bot_menu{height:24px;line-height:24px;font-size:12px;color:#999;text-align:center;overflow:hidden;}
.bot_menu a{padding:0 13px;font-size:14px;}
.foot{width:1200px;height:78px;padding-top:20px;text-align:center;overflow:hidden;}
.bot_ico{width:75px;height:75px;position:absolute;left:53px;top:46px;overflow:hidden;}
.bot_ico img{width:75px !important;height:75px !important;}
.bot_jiucuo{width:110px;height:55px;position:absolute;right:7px;top:55px;}

