<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baobao.common.mapping.AppraisalInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.baobao.common.model.AppraisalModel" >
    <id column="a_id" property="id" jdbcType="INTEGER" />
    <result column="a_year" property="year" jdbcType="INTEGER" />
    <result column="a_date" property="date" jdbcType="TIMESTAMP" />
    <result column="a_shouldPeopleNumber" property="shouldPeopleNumber" jdbcType="INTEGER" />
    <result column="a_actuallyPeopleNumber" property="aactuallyPeopleNumber" jdbcType="INTEGER" />
    <result column="a_movesDifficultyPeopleNumber" property="movesDifficultyPeopleNumber" jdbcType="INTEGER" />
    <result column="a_goodVotes" property="goodVotes" jdbcType="INTEGER" />
    <result column="a_qualifiedVotes" property="qualifiedVotes" jdbcType="INTEGER" />
    <result column="a_baseQualifiedVotes" property="baseQualifiedVotes" jdbcType="INTEGER" />
    <result column="a_unqualifiedVotes" property="unqualifiedVotes" jdbcType="INTEGER" />
    <result column="a_evaluationCode" property="evaluationCode" jdbcType="INTEGER" />
    <result column="a_uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, a_year, a_date, a_shouldPeopleNumber, a_actuallyPeopleNumber, a_movesDifficultyPeopleNumber, 
    a_goodVotes, a_qualifiedVotes, a_baseQualifiedVotes, a_unqualifiedVotes, a_evaluationCode,a_uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from appraisal_tab
    where a_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from appraisal_tab
    where a_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baobao.common.model.AppraisalModel" >
    insert into appraisal_tab (a_id, a_year, a_date, 
      a_shouldPeopleNumber, a_actuallyPeopleNumber, 
      a_movesDifficultyPeopleNumber, a_goodVotes, 
      a_qualifiedVotes, a_baseQualifiedVotes, a_unqualifiedVotes, 
      a_evaluationCode,a_uid)
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, 
      #{shouldPeopleNumber,jdbcType=INTEGER}, #{aactuallyPeopleNumber,jdbcType=INTEGER}, 
      #{movesDifficultyPeopleNumber,jdbcType=INTEGER}, #{goodVotes,jdbcType=INTEGER}, 
      #{qualifiedVotes,jdbcType=INTEGER}, #{baseQualifiedVotes,jdbcType=INTEGER}, #{unqualifiedVotes,jdbcType=INTEGER}, 
      #{evaluationCode,jdbcType=INTEGER},#{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.baobao.common.model.AppraisalModel" >
    insert into appraisal_tab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        a_id,
      </if>
      <if test="year != null" >
        a_year,
      </if>
      <if test="date != null" >
        a_date,
      </if>
      <if test="shouldPeopleNumber != null" >
        a_shouldPeopleNumber,
      </if>
      <if test="aactuallyPeopleNumber != null" >
        a_actuallyPeopleNumber,
      </if>
      <if test="movesDifficultyPeopleNumber != null" >
        a_movesDifficultyPeopleNumber,
      </if>
      <if test="goodVotes != null" >
        a_goodVotes,
      </if>
      <if test="qualifiedVotes != null" >
        a_qualifiedVotes,
      </if>
      <if test="baseQualifiedVotes != null" >
        a_baseQualifiedVotes,
      </if>
      <if test="unqualifiedVotes != null" >
        a_unqualifiedVotes,
      </if>
      <if test="evaluationCode != null" >
        a_evaluationCode,
      </if>
      <if test="uid !=null">
      	a_uid
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="shouldPeopleNumber != null" >
        #{shouldPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="aactuallyPeopleNumber != null" >
        #{aactuallyPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="movesDifficultyPeopleNumber != null" >
        #{movesDifficultyPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="goodVotes != null" >
        #{goodVotes,jdbcType=INTEGER},
      </if>
      <if test="qualifiedVotes != null" >
        #{qualifiedVotes,jdbcType=INTEGER},
      </if>
      <if test="baseQualifiedVotes != null" >
        #{baseQualifiedVotes,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedVotes != null" >
        #{unqualifiedVotes,jdbcType=INTEGER},
      </if>
      <if test="evaluationCode != null" >
        #{evaluationCode,jdbcType=INTEGER},
      </if>
      <if test="uid !=null">
      	#{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baobao.common.model.AppraisalModel" >
    update appraisal_tab
    <set >
      <if test="year != null" >
        a_year = #{year,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        a_date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="shouldPeopleNumber != null" >
        a_shouldPeopleNumber = #{shouldPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="aactuallyPeopleNumber != null" >
        a_actuallyPeopleNumber = #{aactuallyPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="movesDifficultyPeopleNumber != null" >
        a_movesDifficultyPeopleNumber = #{movesDifficultyPeopleNumber,jdbcType=INTEGER},
      </if>
      <if test="goodVotes != null" >
        a_goodVotes = #{goodVotes,jdbcType=INTEGER},
      </if>
      <if test="qualifiedVotes != null" >
        a_qualifiedVotes = #{qualifiedVotes,jdbcType=INTEGER},
      </if>
      <if test="baseQualifiedVotes != null" >
        a_baseQualifiedVotes = #{baseQualifiedVotes,jdbcType=INTEGER},
      </if>
      <if test="unqualifiedVotes != null" >
        a_unqualifiedVotes = #{unqualifiedVotes,jdbcType=INTEGER},
      </if>
      <if test="evaluationCode != null" >
        a_evaluationCode = #{evaluationCode,jdbcType=INTEGER},
      </if>
      <if test="uid !=null">
      	a_uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where a_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baobao.common.model.AppraisalModel" >
    update appraisal_tab
    set a_year = #{year,jdbcType=INTEGER},
      a_date = #{date,jdbcType=TIMESTAMP},
      a_shouldPeopleNumber = #{shouldPeopleNumber,jdbcType=INTEGER},
      a_actuallyPeopleNumber = #{aactuallyPeopleNumber,jdbcType=INTEGER},
      a_movesDifficultyPeopleNumber = #{movesDifficultyPeopleNumber,jdbcType=INTEGER},
      a_goodVotes = #{goodVotes,jdbcType=INTEGER},
      a_qualifiedVotes = #{qualifiedVotes,jdbcType=INTEGER},
      a_baseQualifiedVotes = #{baseQualifiedVotes,jdbcType=INTEGER},
      a_unqualifiedVotes = #{unqualifiedVotes,jdbcType=INTEGER},
      a_evaluationCode = #{evaluationCode,jdbcType=INTEGER},
      a_uid = #{uid,jdbcType=INTEGER}
    where a_id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from appraisal_tab where a_uid = #{uid,jdbcType=INTEGER}
  </select>
</mapper>