<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baobao.common.mapping.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.baobao.common.model.Collection">
    <id column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="collection_object_id" jdbcType="INTEGER" property="collectionObjectId" />
    <result column="collection_user_id" jdbcType="INTEGER" property="collectionUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    collection_id, collection_object_id, collection_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collection_tab
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </select>
  <select id="getCollectNumber" resultType="java.lang.Integer">
    select 
    count(collection_id)
    from collection_tab
   where collection_object_id = #{id} 
  </select>
  <select id="selectByUserAndObject" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collection_tab
    where collection_user_id = #{userId,jdbcType=INTEGER} and collection_object_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collection_tab
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baobao.common.model.Collection">
    insert into collection_tab (collection_id, collection_object_id, 
      collection_user_id)
    values (#{collectionId,jdbcType=INTEGER}, #{collectionObjectId,jdbcType=INTEGER}, 
      #{collectionUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.baobao.common.model.Collection">
    insert into collection_tab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectionId != null">
        collection_id,
      </if>
      <if test="collectionObjectId != null">
        collection_object_id,
      </if>
      <if test="collectionUserId != null">
        collection_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectionId != null">
        #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="collectionObjectId != null">
        #{collectionObjectId,jdbcType=INTEGER},
      </if>
      <if test="collectionUserId != null">
        #{collectionUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baobao.common.model.Collection">
    update collection_tab
    <set>
      <if test="collectionObjectId != null">
        collection_object_id = #{collectionObjectId,jdbcType=INTEGER},
      </if>
      <if test="collectionUserId != null">
        collection_user_id = #{collectionUserId,jdbcType=INTEGER},
      </if>
    </set>
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baobao.common.model.Collection">
    update collection_tab
    set collection_object_id = #{collectionObjectId,jdbcType=INTEGER},
      collection_user_id = #{collectionUserId,jdbcType=INTEGER}
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
</mapper>