/* 搜索  */
button[type=submit]:hover{
	background-color: #337ab7;
}
.modal-footer .btn:hover{
    background-color: #337ab7;
    border-color: #2e6da4;
} 
.pagination-detail .dropdown-toggle{
	padding:1px 5px;
}
.page-list button.btn{
	background-color: #337ab7!important;
	color:white!important;
}
ul.pagination li.active a{
	background-color: #337ab7;
    color:white;
}